@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8px;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: #000;
}

section{
    padding:2rem 7%;
}

.heading {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 30px;
}

.heading span {
    color:#D2691E;
    text-transform: uppercase;
}

.heading-two {
    font-size: 37px;
    color:#fff;
    font-family: 'Playfair display' serif;
    font-weight: 300;
    text-align: center;
}


.header{
    background: transparent !important;
    padding:40px 100px;
    position: fixed;
    top:0; 
    left: 0; 
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.sticky {
    padding: 30px 50px;
    color: #b8b8b8;
    background: #000 !important;
    transition: .3s all ease-out;
}


.header .logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0px 0px;
    font-weight: 300;
    /* height: 6rem; */
}


.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color: aqua;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:aqua;
}

#menu-btn{
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url('/Restaurant/images/bg_3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    position: absolute;
    bottom: 150px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    justify-content: center;
}

.home .content h3 {
    font-weight: 500px;
    font-size: 40px;
    font-family: 'Playfair Display' serif;
    margin: 0px 0px 16px;
}

.home .content p{
    font-size: 20px;
    font-family: 'Raleway' sans-serif;
    margin: 0px 0px 48px;
}

.btn {
    margin-top: 1px;
    display: inline-block;
    padding: 13px 40px !important;
    font-size: 16px !important;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
    color: #000;
    background-color: #fff;
}

 .home .content{
    max-width: 500px;
}

.home .content h3 {
    font-size: 30px;
    font-weight: 200;
    font-family: Playfair display, serif;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:#000;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 500px;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 500px;
    padding:30px;
}

.about .row .content h3{
    font-size: 30px;
    margin: 0 0 5px;
    font-family: Playfair display, serif;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:20px;
    text-align: center;
    border: 1px solid #fff;  
}

.menu .box-container .box img{
    height: 200px;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 24px;
    font-family: 'Playfair display' serif;
    margin: 0px 0px 8px;
}

.menu .box-container .box p {
    font-size: 16px;
    color: #b8b8b8;
    font-family: 'Raleway' serif;
    margin: 0px 0px;
}

.menu .box-container .box .price {
    color: #f96d00;
    font-size: 20px;
    font-family: 'Playfair display' serif;
    margin: 0px 0px 8px;
}

.menu .box-container .btn {
    margin-top: 1px;
    display: inline-block;
    margin: 20px;
    font-size: 12px !important;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.menu .box-container .btn:hover {
    font-weight: bold;
    color: #000;
    background-color: #fff;
}













































